html{
	--dscape-black:#020202;
	--dscape-grey:#696969;
	--dscape-silver:#b4b4b4;
	--dscape-white:#f0f0f0;
}
body{
	font-family:Tahoma,sans-serif;
	font-size:14px;
	background-color:var(--dscape-black);
	color:var(--dscape-white);
}
p{word-wrap:break-word;}

@font-face{
	font-family:DOS;
	src:url(DOS.woff) format(woff);
	font-weight:normal;
	font-style:normal;
	font-display:swap;
}

#terminal{
	position:fixed;
	top:0;
	left:0;
	width:calc(100vw - 64px);
	height:calc(100vh - 64px);
	border:16px solid;
	border-color:#161616 #222 #262626 #191919;
	padding:16px;
	font-size:16px;
	font-family:DOS,Lucida Console,Courier New,monospace;
	color:var(--dscape-white);
}
.blinking-cursor{animation:blink 0.5s steps(1,start) infinite;}
@keyframes blink{
	0%,100%{opacity:0;}
	50%{opacity:1;}
}
.loading-text{
	position:fixed;
	top:50vh;
	left:50vw;
	transform:translate(-50%,-50%);
	font-size:32px;
	animation:pulse 2s infinite;
}
@keyframes pulse{0%,100%{opacity:0.8;}50%{opacity:0.5;}}
.skip-text{
	position:fixed;
	bottom:0;
	right:0;
	font-size:14px;
	font-family:Tahoma,sans-serif;
	padding-right:16px;
	color:#f0f0f080;
	text-shadow:1px 1px 2px #000;
	opacity:0;
	transition:opacity 0.5s linear;
}
.skip-text.shown{opacity:1;}

#mainMenu{
	display:none;
	text-align:center;
}#mainMenu.fade-in{display:block;animation:fadeIn 0.5s forwards;}
@keyframes fadeIn{from{opacity:0;}to{opacity:1;}}

.logo{
	width:80%;
	background-image:linear-gradient(90deg, #38C4BA 0%, #839ACB 51%, #FB5CE0 100%);
	background-size:100%;
	-webkit-background-clip:text;
	-moz-background-clip:text;
	-webkit-text-fill-color:transparent; 
	-moz-text-fill-color:transparent;
}

#episodes{
	display:flex;
	width:fit-content;
	flex-direction:column;
	justify-content:center;
	list-style:none;
	margin:8px auto;
	padding:0;
}
h3{margin:0 auto 4px auto;}
.fullcut-description,.episodes-description{margin:0 auto 8px auto;}
.fullcut-description{margin-top:4px;}

.win95-button{
	display:block;
	width:480px;
	margin:8px auto 0 auto;
	background:var(--dscape-silver);
	border-top:1px solid var(--dscape-white);
	border-left:1px solid var(--dscape-white);
	padding:8px;
	padding-left:6px;
	padding-top:6px;
	box-shadow:inset -1px -1px var(--dscape-grey), 1px 1px var(--dscape-black), 1px 0 var(--dscape-black), 0 1px var(--dscape-black), 1px 1px var(--dscape-black);
	color:var(--dscape-black);
	text-decoration:none;
	cursor:context-menu;
}.win95-button:visited{color:var(--dscape-grey);}
.win95-button:focus,.win95-button:focus-visible{
	outline:1px dotted var(--dscape-black);
	outline-offset:-3px;
}
.win95-button:active{
	border-top:1px solid var(--dscape-grey);
	border-left:1px solid var(--dscape-grey);
	box-shadow:inset -1px -1px var(--dscape-white), 1px 1px var(--dscape-black), 1px 0 var(--dscape-black), 0 1px var(--dscape-black), 1px 1px var(--dscape-black);
	outline:1px dotted var(--dscape-black);
	outline-offset:-2px;
}
.win95-button img{
	width:16px;
	height:16px;
	vertical-align:top;
}
.chapter-one,.full-cut{margin:0 auto;}
.full-cut{font-weight:bold;}

blockquote{font-style:italic;margin-bottom:4px;}
blockquote::before{content:'“ ';}
blockquote::after{content:' ”';}
.quoter{display:block;margin-top:4px;margin-left:128px;}

@media (max-width:760px){.win95-button{width:calc(100vw - 32px);font-size:3.5vw;}}