body {
  background-color: #020202;
  color: #F0F0F0;
  font-family: Tahoma, sans-serif;
}

.screen-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-horizontal {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}